extends layout

//- additional nav components
block nav
  li
    a#my_location( href='#myLocation' )
      i.icon-screenshot.icon-white(style='margin-right:3px')
      | Me

//- parts of the DOM before bootstrap .container
block outer
  .map-container
    #map (Loading map...)

  #feedWindow.modal.hide.fade
    .modal-header
      button.close( type="button", data-dismiss="modal", aria-hidden="true" )
        &times;
      small.pull-right.muted.title
      form#postForm.form-horizontal(action='#post',method='post')
        .input-append
          input#postBox.span4( type='text', placeholder='Say something...' )
          button.btn( type='submit') Post!
    .modal-body
      ul.feed
        li loading...

  #searchWindow.modal.hide.fade
    .modal-header
      button.close( type="button", data-dismiss="modal", aria-hidden="true" )
        &times;
      h5.title Nothing here yet!
      small Choose a location or search to start a new feed
      form#placeSearch(action='#search',method='get')
        input#searchBox(type='text', placeholder='filter nearby...')
    .modal-body
      .searching Searching...
      ul.resultList

block content

block footer

  //- icanhaz templates:
  script#searchResultItem( type='text/html' )
    li.item
      img.icon( src='{{ icon }}' )
      a( href='#place:{{ id }}' ) {{ name }}

  script#feedItem( type='text/html' )
    li.item
      .pull-right
        strong {{ from.userName }}
        img.icon( src='http://www.gravatar.com/avatar/{{ from.email_hash }}?s=20&d=retro' )
      p {{{ body }}}
      .preview.hide.slide
      small.muted {{ ts }}

  script#embedPreview( type='text/html' )
    .well
      {{{ preview }}}
      a.small.pull-right( href='{{ original_url }}', target='preview' ) {{ provider_url }}
      strong {{ title }}
      p {{ description }}

  script( src='https://maps.googleapis.com/maps/api/js?key=#{ maps_api_key }&libraries=geometry,places&sensor=true',
          type='text/javascript')
  script( src='//cdnjs.cloudflare.com/ajax/libs/embedly-jquery/3.0.1/jquery.embedly.min.js',
    type='text/javascript')
  script( src='//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10/ICanHaz.min.js',
    type='text/javascript')
  script( src="/socket.io/socket.io.js", type='text/javascript' )
  != js('utils')
  != js('xirqus')
  script( type='text/javascript' )
    utils.globalPatches()
    $(document).on('ready',function() {
      $.embedly.defaults.key = "#{ embedly_key }"

      $(document).ajaxStart(function() {
        $('#navTop .spinner').show()
      })
      $(document).ajaxStop(function() {
        $('#navTop .spinner').hide()
      })

      xirqus.user = {
        name : "#{ username }",
        email_hash : "#{ email_hash }"
      }
      xirqus.init()
    })
