doctype 5
html
  head
    title="Xirq.us"
    meta(name='description', content="Find and talk about what's happening nearby!")

    meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
    //- link(rel="icon", type="image/png", href="/static/favicon.ico")
    //- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons 
    link( href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", 
          rel="stylesheet")
    link( href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css", 
          rel="stylesheet")
    != css('xirqus')

    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
       .navbar-inner
          .container
            a.brand( href="/" ) Xirq.us
            ul#navTop.nav
              block nav
              li
                span.spinner( style='display:none;margin-top:6px' )

            .nav-collapse.collapse.pull-right
              ul.nav
                li
                  a#nav_email( href='#' ) (email)
                li
                  a(href="/logout") Logout


    block outer

    .container.main
      block content

    script( src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js", 
      type='text/javascript')
    script( src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js", 
      type='text/javascript')

    block footer
